/* src/App.css */

body, html {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 分配空间，将元素分布在左右两边 */
  background-color: #0077be;
  padding: 20px;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 50px;
  margin-right: 15px; /* 调整 logo 与标题的间距 */
  vertical-align: middle;
}

.App-title {
  margin: 0;
  font-size: 2.5em;
}

.search-form {
  display: flex;
}

.search-form input {
  padding: 5px;
  font-size: 1em;
}

.search-form button {
  padding: 5px 10px;
  font-size: 1em;
  background-color: white;
  color: #0077be;
  border: none;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #e0e0e0;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #0077be;
  color: white;
  padding: 10px;
  text-align: center;
}

.App-logo {
  height: 50px;
  margin-right: 15px; /* 调整 logo 与标题的间距 */
  vertical-align: middle;
}
