.chart-item {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
    gap: 50px; /* 调整三个div之间的间距 */
  }
  
  .current-weather-temp {
    margin-left: 20%;
    text-align: left;
  }
  
  .current-weather-icon {
    margin-left: 15%;
    text-align: center;
  }
  
  .current-weather-details {
    margin-left: 15%;
    flex: 2;
    text-align: left;
  }
  
  .no-bullets {
    list-style-type: none; /* 去除li前的小点 */
    margin: 0;
    padding: 0;
  }
  
  .current-weather-details ul {
    list-style: none; /* 确保没有其他样式覆盖 */
    padding: 0;
  }
  
  .current-weather-details li {
    margin: 5px 0;
  }
  
  .custom-font-size {
    font-size: 60px;
    font-weight: bold;
  }

  .weather-icon {
    width: 100px; /* 根据需要调整宽度 */
    height: 100px; /* 根据需要调整高度 */
  }