.weather-chart {
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  .chart-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #1e90ff;
  }
  
  .chart-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .chart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .date {
    flex: 1;
  }
  
  .weekday {
    font-size: 18px;
    font-weight: bold;
  }
  
  .month-day {
    font-size: 14px;
    color: #555555;
  }
  
  .weather-icon {
    flex: 1;
    text-align: center;
    width: 100px; /* 根据需要调整宽度 */
    height: 100px; /* 根据需要调整高度 */
  }
  
  .temperature {
    flex: 1;
    text-align: center;
  }
  
  .temp-row {
    display: flex;
    justify-content: center;
  }
  
  .high-temp {
    color: #ff4500;
  }
  
  .low-temp {
    color: #1e90ff;
    margin-left: 10px; /* 调整这个值来增加或减少间距 */
  }
  
  .precipitation {
    flex: 1;
    text-align: center;
    color: #555555;
  }
  
  .description {
    flex: 2;
    text-align: right;
    color: #555555;
  }
  
  .weather-text{
    width: 200px;
  }